.MuiSvgIcon-root {
  display: none;
  color: white;
}

@media (max-width: 960px) {
  .kadajname {
    display: none;
  }

  .MuiSvgIcon-root {
    display: block;
    margin-right: 1em;
    color: rgb(255, 255, 255);
    width: 1.5em;
    height: 1.5em;
  }
  .MuiMenu-paper {
    background-color: rgb(16, 16, 15);

    -moz-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(0, 0, 0);
    box-shadow: 3px 3px 5px 6px rgb(0, 0, 0);
    border-radius: 0.5em;
  }

  .MuiMenuItem-root {
    font-weight: 600;
    color: white;
  }

  .MuiMenu-list {
    display: block;
  }

  .MuiIconButton-root {
    padding: 6px;
  }
}
