.menuright {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.videoguldan {
  display: none;
}

@media (max-width: 640px) {
  .container {
    /* background-image: url(../Imagenes/guldan3.jpg); */
    background-size: 30em;
    background-position: 3em 3em 3em;
    background-repeat: no-repeat;
    display: flex;
    height: 60vh;
    justify-content: flex-start;
    flex-direction: column;
  }

  .videoguldan {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: brightness(60%);
  }

  .menuright {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
  }
}
@media (min-width: 641px) and (max-width: 1024px) {
  .videoguldan {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: brightness(60%);
    bottom: 100px;
  }
}
