.container {
  display: flex;
  height: 80vh;
}

.containerNest {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  justify-content: center;
}

.firstsection {
  display: flex;
  flex-direction: column;
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.secondsection {
  display: flex;
  flex-direction: column;
  animation: fadeInBot ease 2s;
}

@keyframes fadeInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.firstsection h1 {
  margin: 0%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 4em;
  text-shadow: 2px 2px #000000;
}

.firstsection h1 span {
  color: rgb(90, 240, 30);
}

.firstsection h2 {
  margin: 0%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 3em;
  text-shadow: 2px 2px #000000;
}

.secondsection p {
  margin: 0%;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  text-shadow: 2px 2px #000000;
}

.secondsection p span {
  color: rgb(90, 240, 30);
}
